<section class="content-section">
  <h2>Dashboard</h2>

  <div class="dashboard-item">
    <h3>Current Investments </h3>
    <p>Borrowed Amount: ETH {{ investor?.amount }}</p>
    <p>Investor Name: {{ investor?.name }}</p>
    <p>Plan: {{ selectedPlan?.name }}</p>
    <p>Description: {{ selectedPlan?.description }}</p>
    <p>Return Percentage: {{ selectedPlan?.returnPercentage }}%</p>
    <p>Investor Rate: {{ investor?.interestRate }}</p>
  </div>
 
 
  <div class="dashboard-item">
    <h3>Rewards Earned </h3>
    <p>Borrowed Amount Paid Reward: ETH {{ (investor?.amount || 0) * 0.00001 }}</p>
   
  </div>
  
  <div class="dashboard-item">
    <h3>Smart Contract Details</h3>
    <div *ngFor="let investment of blockchainInvestments">
      <p><strong>Plan:</strong> {{ investment.planName }}</p>
      <p><strong>Amount:</strong> {{ investment.amount }}</p>
      <p><strong>Returns:</strong> {{ investment.returns }}</p>
      <hr />
    </div>
  </div>

  

  <button onclick="window.location.href='/hero'">Main Page</button>
</section>
